Language: Cpp
BasedOnStyle: LLVM

IndentWidth: 4
UseTab: Never
PointerAlignment: Left

AccessModifierOffset: -4

AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
# AlignOperands: true
AllowShortEnumsOnASingleLine: false
AlignTrailingComments: true

AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: true

AllowShortFunctionsOnASingleLine: None
BinPackArguments: false

BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: true
  BeforeElse: false
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

BreakConstructorInitializers: BeforeComma
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 4

ColumnLimit: 0

EmptyLineBeforeAccessModifier: Always

SortIncludes: true
IncludeCategories:
  - Regex: "^<cnoid/"
    Priority: 50
  - Regex: "^<Q.*"
    Priority: 100
  - Regex: ".*"
    Priority: 200

KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 2

NamespaceIndentation: None

ReflowComments: true

SeparateDefinitionBlocks: Always

SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: Never

SpacesInConditionalStatement: false
SpacesInParentheses: false
SpacesBeforeTrailingComments: 2
Cpp11BracedListStyle: true
SpacesInContainerLiterals: true

BreakStringLiterals: true

IndentWrappedFunctionNames: false
